*{
    margin: 0;
    font-family: inter;
    border: border-box;
}
.navbar{
    height: 200px;
    background-color: rgb(151, 49, 49);
    display:flex ;
    color: rgb(245, 231, 178);
}
.bars{
    background-image: url("bars.png");
    height: 190px;
    width: 60%;
    margin-left: 120px;
    background-size:cover;
}
.nav-logo{
    height: 240px;
    width: 140px;
}
.logo{
    background-image: url("logo.png");
    height: 190px;
    width: 140%;
    margin-left: 60px;
    background-size:cover;
}