*{
    margin: 0;
    padding: 0%;
    box-sizing:  border-box;
    font-family:Arial;
    font-weight:700;
}
body{
    height: 99%;
    width: 97%;
    background-image:url('background.png');
    background-size:cover;
}
.navbar{
    height: 80px;
    width: 103%;
    background-color: rgb(151, 49, 49);
    display:flex ;
    flex-direction: row;
    align-items: center;
    color: rgb(245, 231, 178);
    padding: 0px 20px;
    justify-content: space-between;
}
.bars{
    background-image: url("bars.png");
    height: 180px;
    width: 10%; /* Specify width for proper scaling */
    background-size:70%;
    background-repeat: no-repeat;
    margin-top: 75px;
}
.nav-logo{
    height: 100px;
    width: 370px;
    display: flex;
    align-items: center;
    margin-left: -100px;
    margin-top: 20px;
}
.logo{

    background-image: url("logo.png");
    height: 85%;
    width: 50%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    left: -180px;
}
nav{
    position:relative;
    left: -200px;
    display: flex;
    gap: 20px;
}
a{
    padding: 5px 15px;
    color: rgb(245, 231, 178);
    font-size: 22px;
    text-decoration: none;
    border-radius: 200px;
    transition: all 0.3s ease-in-out;
}
a:hover{
    background-color:rgb(245, 231, 178) ;
    color: rgb(151, 49, 49) ;
    cursor: pointer;
}
.icon{
    position: relative;
    right: 20px;
    font-size: 25px;
    display: flex;
    gap: 100px;
}
i:hover{
    cursor: pointer;
}
.search{
    
}
.icon input[type=text]{
    font-size: 10px;
    padding: 4px;
    padding-left: 30px;
    background-color: rgb(245, 231, 178);
    border-radius: 25px;
    border: none;
    cursor: text ;
    caret-color:rgb(151, 49, 49);
}
.icon input::placeholder{
    color: rgb(151, 49, 49);
    padding: 7px;

}
.icon button{
    font-size: 25px;
    background:none;
    color: rgb(245, 231, 178);
    padding-left: 5px ;
    border:none;
}
main{
    padding: 0px;
    height: 20px;
    width:auto;
    size: 100px;
    font-size: x-larges;
}
.icon
/*.nav-user{
    font-size: 85px;
    margin-left: 350px;
}
.nav-cart{
    font-size: 85px;
    margin-left: 350px;
}*/